<main class="flex-1 pt-28 px-12 h-dvh ">
  <div class="mb-6">
    <h1 class="text-xl font-medium text-[#EAE3D5]">Absence Records</h1>
  </div>

  <div class="overflow-hidden border border-[#2A3D30] rounded-sm bg-[#0B1610]">
    <table class="w-full text-left border-collapse">
      <thead>
        <tr class="border-b border-[#2A3D30] bg-[#14261C]">
          <th class="px-4 py-3 text-[11px] uppercase tracking-wider text-[#8FA68C] font-semibold">Student</th>
          <th class="px-4 py-3 text-[11px] uppercase tracking-wider text-[#8FA68C] font-semibold">Type</th>
          <th class="px-4 py-3 text-[11px] uppercase tracking-wider text-[#8FA68C] font-semibold">Subject</th>
          <th class="px-4 py-3 text-[11px] uppercase tracking-wider text-[#8FA68C] font-semibold">Date</th>
          <th class="px-4 py-3 text-[11px] uppercase tracking-wider text-[#8FA68C] font-semibold">Status</th>
        </tr>
      </thead>
      <tbody class="text-sm">
        @for(absence of userAbsences(); track absence){
          <tr class="border-b border-[#2A3D30]/50 hover:bg-[#1A3025] transition-colors">
            <td class="px-4 py-4 text-[#EAE3D5]">
              {{ absence.student.lastName.toUpperCase() }}
              {{
              absence.student.firstName.charAt(0).toUpperCase()
               + absence.student.firstName.slice(1)
              }}
            </td>
            <td class="px-4 py-4 text-[#EAE3D5]">{{ absence.type }}</td>
            <td class="px-4 py-4 text-[#8FA68C]">{{ absence.element.name }}</td>
            <td class="px-4 py-4 text-[#8FA68C]">{{ formatDateTime(absence.dateTime) }}</td>
            <td class="px-4 py-4">
              @if(absence.isJustified){
                <span class="text-[#C8A96E] bg-[#C8A96E]/10 px-2 py-0.5 rounded-full text-xs">
                  Justified
                </span>
              }@else{
                 <span class="text-[#EF4444] bg-[#EF4444]/10 px-2 py-0.5 rounded-full text-xs">
                   Unjustified
                 </span>
                }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</main>
