<nav class="flex items-center z-50 justify-between fixed w-full
    px-10 py-3 border-b bg-[#1A3025] border-[#2A3D30]">
  <div class="flex items-center gap-3">
    <div class="w-8 h-8 bg-[#C8A96E] rounded-sm flex items-center justify-center">
      <span class="text-[#0E1A14] font-['DM_Sans',sans-serif] font-500 text-sm">E</span>
    </div>
    <a routerLink="/"
    class="text-[#EAE3D5] text-xl tracking-widest uppercase
      font-['DM_Sans',sans-serif] font-light">E-LEARN</a>
  </div>
  <ul class="hidden md:flex items-center gap-10 font-['DM_Sans',sans-serif]
    text-sm text-[#8FA68C] tracking-wide">
    <a routerLink="/programs"
      class="hover:text-[#EAE3D5] cursor-pointer transition-colors">Programs</a>
    <a routerLink="/contact"
      class="hover:text-[#EAE3D5] cursor-pointer transition-colors">Contact</a>
    <a routerLink="/about"
      class="hover:text-[#EAE3D5] cursor-pointer transition-colors">About</a>
  </ul>
  @if (profile()){
  <a routerLink="dashboard"
  class ="font-['DM_Sans',sans-serif] text-sm px-5 py-2 text-[#C8A96E] cursor-pointer">
    {{ profile()?.email }}</a>
  }@else {
    <a routerLink="/login"
    class="font-['DM_Sans',sans-serif] text-sm px-5 py-2 border border-[#C8A96E]
      text-[#C8A96E] hover:bg-[#C8A96E] hover:text-[#0E1A14] transition-all
      duration-300 tracking-wide cursor-pointer">
      Log In
    </a>
  }
</nav>
